<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.daizibo.alfred-uuidgen</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>23FECE94-BD2A-4925-96B0-D153DCE85B41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C54681E9-F282-400D-A43E-7819FD9EF3D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3625C72C-CF6D-4963-8213-E6917280C434</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy uuid directly into formost application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3625C72C-CF6D-4963-8213-E6917280C434</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F47FBF78-6199-408C-B318-05CCB13D659F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7FA9283-6686-4A49-BDB8-E4118B513949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C54681E9-F282-400D-A43E-7819FD9EF3D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>842D97E1-7350-4457-9A6D-C013F1968C20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7FA9283-6686-4A49-BDB8-E4118B513949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>daizibo</string>
	<key>description</key>
	<string>Generate UUID and copy to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UUID</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>842D97E1-7350-4457-9A6D-C013F1968C20</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>q={query}

uuid=`uuidgen`

case $q in  
	-)  
        echo -n $uuid | awk '{printf tolower($0)}'
        ;;  
    -u|u-|-U|U-)  
		echo -n $uuid
        ;;  
    u|U)  
		echo $uuid | awk '{ gsub(/-/,""); printf}'
        ;;  
	*)
		echo $uuid | awk '{print tolower($0)}' | awk '{ gsub(/-/,""); printf}'
        ;;  
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C54681E9-F282-400D-A43E-7819FD9EF3D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate a uuid</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23FECE94-BD2A-4925-96B0-D153DCE85B41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F47FBF78-6199-408C-B318-05CCB13D659F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>q={query}

uuid=`uuidgen`

case $q in  
	-)  
        echo -n $uuid | awk '{printf tolower($0)}'
        ;;  
    -u|u-)  
		echo -n $uuid
        ;;  
	*)
	echo $uuid | awk '{print tolower($0)}' | awk '{ gsub(/-/,""); printf}'
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3625C72C-CF6D-4963-8213-E6917280C434</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Uuid copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B7FA9283-6686-4A49-BDB8-E4118B513949</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Simple Alfred Workflow to generate UUIDs</string>
	<key>uidata</key>
	<dict>
		<key>23FECE94-BD2A-4925-96B0-D153DCE85B41</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3625C72C-CF6D-4963-8213-E6917280C434</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>842D97E1-7350-4457-9A6D-C013F1968C20</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B7FA9283-6686-4A49-BDB8-E4118B513949</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C54681E9-F282-400D-A43E-7819FD9EF3D9</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>F47FBF78-6199-408C-B318-05CCB13D659F</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/philipbo/alfred-uuidgen</string>
</dict>
</plist>
